<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Staff</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Assigned Service</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each staffs}}
            <tr>
                <td>{{name}}</td>
                <td>{{phone}}</td>
                <td>{{email}}</td>
                <td>Services, Services...</td>
                <td>
                    <a href="/staff/edit/{{id}}" class="btn btn-info">
                        <i class="fas fa-pen"></i> Edit
                    </a>
                    <form action="/staff/delete/{{id}}?_method=DELETE" id="delete-form" method="POST">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        {{else}}
            <p>No staff available</p>
        {{/each}}
    </tbody>

</table>