<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Service</th>
            <th>Duration</th>
            <th>Assigned Staff</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each businesses}}
            <tr>
                <td>{{name}}</td>
                <td>{{defaultHour}} hour(s) {{defaultMin}} minutes</td>
                <td>Henry, Henry, Henry...</td>
                <td>
                    <a href="/business/edit/{{id}}" class="btn btn-info">
                        <i class="fas fa-pen"></i> Edit
                    </a>
                    <form action="/business/delete/{{id}}?_method=DELETE" id="delete-form" method="POST">
                        <button type="submit" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        {{else}}
            <p>No businesses listed</p>
        {{/each}}
    </tbody>

</table>